@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
}
